@import "tailwindcss";
body {
  font-family: "Manrope", sans-serif;
  /* background-color: #f6f2ea9a; */
  background: linear-gradient(
    to top,
    #f6f2ea 0%,
    #fff 40%,
    transparent 100%
  );
}

.heading-font {
  font-family: "DM Serif Display", serif;
}
